@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$font: 'Noto Sans', sans-serif;

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAFAFB;
}

